[Unit]
Description=FiatStiloFrontend app
After=multi-user.target
[Service]
Type=idle
Restart=always
ExecStart=serve /home/stilo/FiatStilo-hudiy/Frontend/
User=stilo
[Install]
WantedBy=multi-user.target