[Unit]
Description=FiatStiloBackend app
After=multi-user.target
[Service]
Type=idle
Restart=always
ExecStart=node /home/stilo/FiatStilo-hudiy/Backend/FiatstiloBackendApp.js
User=stilo
[Install]
WantedBy=multi-user.target
