[Unit]
Description=Shutdown PI on acc off
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python /home/stilo/FiatStilo-hudiy/Scripts/FiatStiloShutdown.py
[Install]
WantedBy=multi-user.target
