[Unit]
Description=Fiat Stilo Steering Wheel Buttons
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/bin/sh -c "/usr/bin/python3 /home/stilo/FiatStilo-hudiy/Scripts/FiatStiloSteeringWheelButtons.py"
User=stilo
[Install]
WantedBy=multi-user.target