[Unit]
Description=Fiat Stilo Radio encoder buttons (volume control)
After=multi-user.target
[Service]
Type=idle
Restart=always
ExecStart=/bin/sh -c "/usr/bin/python3 /home/stilo/FiatStilo-hudiy/Scripts/FiatStiloRadioEncoders.py"
User=stilo
[Install]
WantedBy=multi-user.target